server:
  port: 8080

spring:
  profiles:
    active: ${ACTIVE}

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  main:
    web-application-type: reactive

  jpa:
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: false
    show-sql: false
    hibernate:
      ddl-auto: update
      use-new-id-generator-mappings: false
    properties:
      hibernate:
        format_sql: true
